.flex-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: left;
  font-family: Arial, Helvetica, sans-serif;
}

.log-in-container {
  flex: 1 0 0;
}